@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
#categories {
  padding: 24px;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.item {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
}
li.item ul li {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0px;
}
li.item ul li:not(:last-child) {
  margin-bottom: 8px;
}
.item:not(:last-child) {
  margin-bottom: 24px;
}

#name-input {
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 40px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  width: 1128px;
  margin-top: 100px;
  margin-left: 156px;
  list-style: none;
}
.gallery-item {
  width: 360px;
  height: 300px;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin-left: 156px;
  margin-top: 100px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
}
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

button {
  font-family: 'Montserrat', sans-serif;

  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 8px;
}
.widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.widget p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0px;
}
.change-color {
  margin: 0px;
  width: 148px;
}
#controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background: #f6f6fe;
}

#controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px;
  padding-left: 72px;
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  overflow-y: hidden;
}
#controls button {
  width: 120px;
  margin: 0px;
}
#controls button:last-child {
  background: #ff4e4e;
}
#boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  gap: 16px;
  align-items: top;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  min-height: 160px;
  height: auto;
  background: #f6f6fe;
  margin-top: 16px;
}
